In [ ]:
library(sparklyr)
library(dplyr)
library(dataiku)
library(dataiku.sparklyr)

In [ ]:
# Initialize sparklyr
sc <- dku_spark_connect()

In [ ]:
# Example: Read a Dataiku dataset as a sparklyr dataframe
df <- spark_read_dku_dataset(sc, "mydataset", "mydataset_tbl")

In [ ]:
# Example: aggregate a sparklyr dataframe by col1, count and average col2
df %>% group_by(col1) %>% summarize(count = n(), col2avg = avg(col2))

In [ ]:
# Example: write a sparklyr dataframe to a Dataiku dataset
# NB: It is advised to rather use recipes to write datasets
spark_write_dku_dataset(df, "mydataset_output")